// AB_colors
@use 'AB_colors' as colors;

.glossary {

	@media (min-width: 768px) {
		max-width: 50%;
	}

	ul {
		padding: 0;
		list-style-type: none;

		li {
			padding: 0;
			background: #333;
			margin-bottom: 16px;
			position: relative;

			h3 {
				font-size: 32px;
				margin: 0;
				font-weight: normal;
				cursor: pointer;
				color: #fff;
				padding: 16px;

				&::after {
					margin-left: 25px;
					content: '+';
					font-size: 50px;
					display: inline-block;
				    position: absolute;
				    right: 16px;
				    top: 0px;
				}
			}

			h3.header-open {
				&::after {
					font-size: 28px;
					content: '—';
					font-weight: bold;
					top: 15px;
				}
			}

			p {
				display: none;
				background: #eee;
				padding: 16px;
				margin-top: 0;
				line-height: 150%;

				&.paragraph-open {
					display: block;
				}
			}
		}
	}
}